{{#> Content}}
    {{#> SideBar}}
        {{> ProfileLink src='/' name='Никита'}}
        {{> ChatsBlock chatsContext}}
    {{/SideBar}}
    {{#> Container alignTop=true}}
        {{> Header header}}
        <div class='profile__wrapper'>
            <div class='profile__container'>
                <div class='profile__info'>
                    {{> Avatar src='/' size='_big'}}
                    <div class='profile__info__inputs profile__info__inputs_main'>
                        {{> Input type='text' name='first_name' value='Никита' mod='-main' placeholder='Имя'}}
                        {{> Input type='text' name='second_name' value='Масаев' mod='-main' placeholder='Фамилия'}}
                    </div>
                </div>
                <div class='profile__info'>
                    <div class='profile__info__inputs profile__info__inputs_editPassword'>
                        {{> Input 
                            label='Старый пароль' 
                            type='password' 
                            name='oldPassword' 
                            mod='-secondary'
                        }}
                        {{> Input 
                            label='Новый пароль' 
                            type='password' 
                            name='newPassword' 
                            mod='-secondary'
                        }}
                        {{> Input 
                            label='Потвердить новый пароль' 
                            type='password' 
                            name='confirmPassword' 
                            mod='-secondary'
                        }}
                    </div>
                </div>
                <div class='profile__info'>
                    <div class='profile__info__buttons profile__info__editButton'>
                        {{> Button type='submit' text='Сохранить' page='profile' mod='_mg47'}}
                    </div>
                </div>
            </div>
        </div>
    {{/Container}}
{{/Content}}
