<div class='profile-link'>
    {{> Avatar src='/icons/avatar.png' size='_small'}}
    <div class='profile-link__wrapper'>
        <div class='profile-link__name'>
            <div>{{name}}</div>
        </div>
        <div class='profile-link__button'>
            {{#> Form}}
                {{#if showProfile}}
                    {{> Button type='link button__link_black' text='Профиль >' page='profile' mod='_mg0'}}
                {{else}}
                    {{> Button type='link button__link_black' text='< Назад' page='chats' mod='_mg0'}}
                {{/if}}
            {{/Form}}
        </div>
    </div>
</div>
