<div {{#if name}}name='{{name}}'{{/if}} class='avatar avatar{{size}}'>
    <img class='avatar__img' src='{{src}}' alt=''>
    <div class='avatar__img_border'>
        <div class='avatar{{size}}_inner'></div>
    </div>
</div>
