<div class='chats'>
    <div class='search-wrapper'>
        {{> Input name='search' type='text' mod='_search' placeholder='Поиск'}}
    </div>
    <div class='chats_center'>
        {{stubChats}}
    </div>
</div>